.idea/
*.iml
*.ipr
cmake-build-*/
*.iws
out/
target/
src/**/resources/images
src/**/resources/files
src/**/resources/pdf
src/**/runners/*
.idea_modules/
atlassian-ide-plugin.xml
com_crashlytics_export_strings.xml
*.properties
